.hero-unit
  %h2.text-center
    У Вас есть идеи или свободное время?
  %p.text-center
    = link_to new_idea_path, class: 'btn btn-large btn-success' do
      %i.icon-cog
      = t('.have_idea')

.row
  .span6
    %h4.text-center Идеи
    - @ideas.each do |idea|
      .idea
        %p= link_to idea.title, idea_path(idea)
  .span6
    %h4.text-center
      Рейтинг

